nav {
  background-color: transparent;
  color: #FFFFFF;
  height: 120px;
  padding: 1.5em;
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 10;
  margin-bottom: -120px;
}

.logo {
  font-family: 'Bungee', cursive;
}

.tweet {
  display: flex;
  flex-direction: column;
  
}

.fas  {
  color: red;
  align-self: center;
}